.content-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    height: 350px;

    .card__people {
        height: 80%;

        .card__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card__texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20%;
        width: 100%;
        padding: var(--espacios) 0;
    }
}