/*Variables*/
    $color1: #67baaf;
    $color2: rgba(23,180,83,.0788);
    $color3: #f2f2f2;
    $fondo: #f2f2f2;
    $colorletter: #283969ca;
    $titulos: 33px;
    $margenes: 150px;
    $espacios: 10px;
    $espacios-contenido: 45px;
    $black-alpha-color: rgba(66, 66, 66, 0.801);
 